@prefix: rh;

.reset(@fontSize: inherit, @lineHeight:inherit) {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: @fontSize;
  line-height: @lineHeight;
  font-family: inherit;
  overflow: inherit;
  &:after,
  &:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

.@{prefix}__mentions {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  display: inline-block;
  overflow: auto;

  .@{prefix}__mentions-input,
  .@{prefix}__mentions-measure {
    .reset();
    width: 200px;
    border: 1px solid #ccc;
    padding: 1px 4px;
  }

  .@{prefix}__mentions-input {
    resize: none;
  }

  .@{prefix}__mentions-measure {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    max-height: 100%;
    // background-color: #eee;
  }
}

.@{prefix}__mentions-dropdown {
  position: absolute;
  list-style: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  &-item {
    padding: 6px 28px;
    cursor: pointer;
    list-style: none;
    &:hover,
    &:active &.active {
      background-color: #e6f7ff;
    }
  }
}
