@prefix: zyou;

.reset(@fontSize: inherit, @lineHeight:inherit, @padding:4px 10px) {
  outline: 0;
  border: 0;
  padding: @padding;
  margin: 0;
  box-sizing: border-box;
  font-size: @fontSize;
  line-height: @lineHeight;
  font-family: inherit;
  max-width: 100%;
  display: inline-block;
  width: 100%;

  background-image: none;

  &:after,
  &:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
.scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #eee;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #ddd;
  }
}

.@{prefix}__mention {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;

  &-input {
    .reset();
    .scrollbar();
    resize: none;
    border: 1px solid transparent;
    overflow-y: hidden;

    &:focus {
      outline: 0;
      border-color: #425bff;
      box-shadow: 0 0 2px #8696ff;
    }
  }

  &-measure {
    .reset();
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    max-height: 100%;
    background-color: transparent;
    visibility: hidden;
  }
}

.@{prefix}__mention-dropdown {
  position: absolute;
  list-style: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  outline: 0;
  max-height: 250px;
  overflow: auto;
  .scrollbar();
  &-item {
    padding: 6px 28px;
    cursor: pointer;
    list-style: none;
    outline: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: background-color 0.2s ease-in;
    &:hover,
    &-active,
    &:active {
      background-color: #e6f7ff;
    }
  }
}
